@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat";
    font-weight: 500;
    background: rgb(255, 255, 255);
    color: rgb(30, 30, 30);
    background: url(images/about.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
html, body{
    width: 100%;
}
.cursor {
    height: 30px;
    width: 30px;
    z-index: 1111111;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid red;
    position: fixed;    
    transition: all linear 0.2s;
}


.navbarWrapper {
    z-index: 55555;
    width: 100%;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
}

.navbar {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoSection {
    width: 45%;
}

.logoSection a {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: 900;
    color: black;
    text-shadow: 0px 2px 2px rgb(0, 0, 0, 0.2);
    letter-spacing: 1px;
}
.logoSection img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.menuSection{
    width: 55%;
    border: 1px solid red;
    padding: 15px 0px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(6px);
}
.menuList {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 1.1em;
    font-weight: 800;
}

.ham {
    color: red;
    font-size: 28px;
    display: none;
    cursor: pointer;
}
.hamClose {
    display: none;
    color: red;
    font-size: 28px;
    cursor: pointer;
}
.menuItem {
    color: white;
    transition: ease-in-out 0.3s;
}
.menuItem:hover {
    color: red;
    transform: scale(1.1);
}


@media (max-width: 1150px) {
    .navbar {
        width: 96%;
    }
}

@media (max-width: 1100px) {
    .navbarWrapper {
        padding: 14px 0px;
    }

    .logoSection a {
        font-size: 18px;
    }

    .menuSection {
        position: fixed;
        right: 0px;
        top: 0px;
        height: 100vh;
        background: black;
        animation: drawer 0.5s ease-in-out;
        box-shadow: -2px 0px 10px rgb(0, 0, 0, 0.2);
        z-index: 99999;
        padding: 0px 40px;
        display: none;
    }
    .ham {
        display: block;
    }
    .hamClose {
        display: block;
    }
    .menuList {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        height: 100%;
    }

    @keyframes drawer {
        0% {
            transform: translateX(300px);
        }
        100% {
            transform: translateX(0px);
        }
    }
}

.container {
    font-size: 14px;
    padding: 40px 28px;
    text-align: justify;
    margin-top: 50px;
}

@media (max-width: 700px) {
    .container {
        margin-top: 30px;
        padding: 40px 14px;
    }
}
#specitem {
    color: red;
}
.logoSection span{
    color: red;
}
.logoSection p{
    color: white;
    padding: 0px 8px;
}
.Section1{
    width: 100%;
    height: 180vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}
.Homesec1{
    width: 80%;
    height: 100%;
    border-radius: 15px;
    background-color: rgb(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid red;
    gap: 20px;
    padding: 30px;
}
.Sec1img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 20%;
}
.Sec1img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    rotate: 0deg;
    transition:ease-in-out 0.4s;
}
.Sec1img img:hover{
    transform: scale(1.1);
    rotate: 360deg;
}
.Sec1data{
    padding: 15px;
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-top: 3px solid red;
}
.Sec1data h1{
    color: white;
    font-size: 2.2em;
    padding-bottom: 40px;
}
.Sec1data p{
    height: 50%;
    font-size: 1.3em;
    font-weight: 300;
    color: whitesmoke;
    text-align: center;
    padding-bottom: -10px;
}
.Sec1data h1 span{
    color: red;
}
.Sec1btn{
    width: 100%;
    height: 20%;
    gap: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Sec1btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 40px;
    border-radius: 25px;
    font-size: 1em;
    font-weight: 500;
    transition: ease-in-out 0.3s;
}
.Sec1btn a:hover{
    transform: scale(1.1);
}
.right{
    color: white;
    border: 1px solid red;
}
.right:hover{
    color: white;
    background-color: red;
}
.left{
    color: white;
    background-color: red;
}
.left:hover{
    color: white;
    background-color: transparent;
    border: 1px solid red;    
}

.team{
    width: 100%;
    height: 80vh;
    margin: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.team h2{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 20%;
    font-size: 2vw;
    backdrop-filter: blur(6px);
    height: 40px;
    color: red;
    background-color: rgba(0, 0, 0, 0.7);
}
.team-div{
    width: 95%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(6px);
    border-radius: 25px;
    gap: 30px;
}
.member{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 90%;
    border-radius: 25px;
    border: 1px solid red;
}
.memimg{
    width: 80%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}
.memimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}
.memname{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    padding: 5px;
}
.memname h1{
    color: red;
    font-size: 2vw;
}
.memname p{
    color: white;
    font-size: 1vw;
}
.section8{
    background-color:  rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(6px);
    width: 100%;
    height: 50vh;
    border-top: 1px solid red;
}
.sec8div1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    gap: 30px;
}
.sec8div2{
    width: 20%;
    height: 80%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}
.sec8div2 p:hover{
    transform: scale(1.1);
    color: red;
}
.sec8div2 h1{
    color: red;
    padding: 0px 0px 20px 0px;
}
.sec8div2 p{
    padding-bottom: 10px;
    color: whitesmoke;
    transition: ease-in-out 0.3s;
}
.sec8div2 div{
    width: 100%;
    height: 30%;
    margin-bottom: 25px;
    
}
.sec8div3{
    width: 25%;
    height: 80%;
    color: whitesmoke;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.sec8div3 div{
    width: 100%;
}
.logosection {
    width: 100%;
}

.logosection a {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: 900;
    color: black;
    text-shadow: 0px 2px 2px rgb(0, 0, 0, 0.2);
    letter-spacing: 1px;
}
.logosection img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.logosection span{
    color: red;
}
.logosection p{
    color: white;
    font-size: 3vw;
    padding: 0px 8px;
}

.footer{
    width: 100%;
    background-color:  rgba(0, 0, 0, 0.9);
    text-align: center;
    font-size: 0.5em;
    padding: 30px 0px; 
    color: whitesmoke;  
}
.footer span{
    color: red;
}
.footer i:hover{
    color: red;
}